*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 400 14px/1.3 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(#fff, #e4e0e1, #b5c3d2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.center {
  max-width: 1110px;
  margin: 30px auto;
  background-color: transparent;
}

.textfields {
  display: flex;
  flex-wrap: wrap;
}

.textfields > div {
  flex: 1 0 33%;
}

.input-group {
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px dashed #cecece;
}

label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}