$colours: "red" "green" "blue" "orange" "pink" "yellow" "brown" "grey" "purple";
$hex: #f44336 #56da97 #2196f3 #ff9800 #e91e63 #fdd835 #795548 #9e9e9e #673ab7;
$i: 1;

@each $colour in $colours {
  $currentHex: nth($hex, $i);
  .checkbox.material--#{$colour} input, .radio.material--#{$colour} {
    border-color: $currentHex;
  }
  
  .button.material--#{$colour}, .checkbox.material--#{$colour} input:checked, .radio.material--#{$colour}:checked::after, .textfield-wrapper.material--#{$colour} .textfield-bar, .pill-checkbox.material--#{$colour} .pill-checkbox--toggle, .label.material--#{$colour} {
    background-color: $currentHex;
  }
  
  .button.material--#{$colour} {
    border-color: darken($currentHex, 10%) darken($currentHex, 10%) darken($currentHex, 25%) darken($currentHex, 10%);
  }
  
  .pill-checkbox.material--#{$colour} input:disabled ~ .pill-checkbox--toggle {
    background-color: lighten($currentHex, 25%);
  }
  
  .checkbox.material--#{$colour} input::before, .radio.material--#{$colour}::before, .pill-checkbox.material--#{$colour}, .pill-checkbox.material--#{$colour} .pill-checkbox--toggle::before {
    background-color: rgba($currentHex, .3);
  }
  
  .label.material--#{$colour}.inverted {
    background-color: #fff;
    color: $currentHex;
    border-color: $currentHex;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  }
  
  .alert.material--#{$colour} {
    background-color: lighten($currentHex, 7%);
    color: darken($currentHex, 25%);
    border-color: darken($currentHex, 25%);
  }
  
  .select.material--#{$colour} {
    background: $currentHex linear-gradient(to bottom, darken($currentHex, 5%), darken($currentHex, 15%));
    border-color: darken($currentHex, 25%);
  }
  
  $i: $i+1;
}