.alert {
  background-color: #000;
  color: #fff;
  padding: 12px 16px;
  border-radius: 5px;
  margin: 3px 0;
  border: 1px solid #000;
  
  &.medium {
    padding: 14px 20px;
    font-size: 14px;
  }
  
  &.large {
    padding: 18px 22px;
    font-size: 16px;
  }
}