.pill-checkbox {
  width: 40px;
  height: 14px;
  position: relative;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 20px;
  cursor: pointer;
  margin: 7px 0;
  display: inline-block;

  [type="checkbox"] {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
  }

  .pill-checkbox--toggle {
    display: block;
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%; left: 0;
    transform: translateY(-50%);
    transition: all .2s ease;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
    background-color: #000;
    border-radius: 50%;
    pointer-events: none;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      height: 0%;
      width: 0%;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 50%;
      pointer-events: none;
    }
  }

  [type="checkbox"]:checked ~ .pill-checkbox--toggle::before {
    animation: pulse .2s ease;
  }

  &:active .pill-checkbox--toggle {
    transform: translateY(-50%) scale(.94);
  }

  [type="checkbox"]:checked ~ .pill-checkbox--toggle {
    left: calc(100% - 18px);
  }

  [type="checkbox"]:disabled,
  [type="checkbox"]:disabled ~ .pill-checkbox--toggle {
    opacity: .4;
    cursor: not-allowed;
  }

  &.medium {
    width: 50px;
    height: 16px;
    
    .pill-checkbox--toggle {
      height: 20px;
      width: 20px;
    }

    [type="checkbox"]:checked ~ .pill-checkbox--toggle {
      left: calc(100% - 20px);
    }
  }

  &.large {
    width: 60px;
    height: 22px;

    .pill-checkbox--toggle {
      height: 26px;
      width: 26px;
    }

    [type="checkbox"]:checked ~ .pill-checkbox--toggle {
      left: calc(100% - 26px);
    }
  }
}