.pill-checkbox {
  width: 36px;
  height: 12px;
  position: relative;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 20px;
  cursor: pointer;
  margin: 3px;
  display: inline-block;

  input {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    
    &:checked {
      & ~ .pill-checkbox--toggle {
        left: calc(100% - 16px);
        
        &::before {
          animation: pulse .2s ease;
        }
      }
    }
    
    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }
  }
  
  &:active .pill-checkbox--toggle {
    transform: translateY(-50%) scale(.94);
  }

  .pill-checkbox--toggle {
    display: block;
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%; left: 0;
    transform: translateY(-50%);
    transition: all .2s ease;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
    background-color: #000;
    border-radius: 50%;
    pointer-events: none;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      height: 0%;
      width: 0%;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 50%;
      pointer-events: none;
    }
  }

  &.medium {
    width: 48px;
    height: 14px;
    
    .pill-checkbox--toggle {
      height: 20px;
      width: 20px;
    }

    input:checked ~ .pill-checkbox--toggle {
      left: calc(100% - 20px);
    }
  }

  &.large {
    width: 60px;
    height: 16px;

    .pill-checkbox--toggle {
      height: 26px;
      width: 26px;
    }

    input:checked ~ .pill-checkbox--toggle {
      left: calc(100% - 26px);
    }
  }
}