select {
  background: #000 linear-gradient(to bottom, #565555, #000);
  outline: none;
  padding: 6px 9px;
  color: #fff;
  font-family: inherit;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
  transition: all .2s ease;
  -webkit-appearance: menulist;
  
  &:focus {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2), inset 0 1px 1px 1px rgba(0, 0, 0, .2);
  }
  
  &.medium {
    padding: 10px 14px;
    font-size: 14px;
  }
  
  &.large {
    padding: 13px 18px;
    font-size: 18px;
  }
}