.textfield-wrapper {
  margin-bottom: 3px;
  position: relative;
  align-self: flex-end;

  input {
    border: 1px solid;
    border-color: #cecece;
    padding: 8px 9px;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
    width: 100%;
    font-family: inherit;
    background-color: #fff;

    &:focus {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  .textfield.medium {
    padding: 13px 14px;
  }

  .textfield.large {
    padding: 16px 15px;
  }

  .textfield-bar {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 0px;
    transition: all .3s ease-in-out;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    background-color: #aaa;
  }

  & input:focus ~ .textfield-bar {
    width: calc(100% - 2px);
  }
}