.textfield-wrapper {
  margin-bottom: 3px;
  position: relative;

  input {
    border: 1px solid #cecece;
    padding: 8px 9px;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
    width: 100%;
    font-family: inherit;
    background-color: #fff;
    margin: 0;

    &:focus {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      
      & ~ .textfield-bar {
        width: calc(100% - 2px);
      }
    }
  }

  .textfield-bar {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    transition: all .3s ease-in-out;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    background-color: #000;
  }

  &.medium input {
    font-size: 14px;
    padding: 13px 14px;
  }

  &.large input {
    font-size: 18px;
    padding: 16px 15px;
  }
}